# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor specific
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# OS-specific
.DS_Store
Thumbs.db